<%#= image_tag("landing1.jpg", :width =>'100%', :class=>'landing1_pic') %>
<div class="landing1_pic">
  <div class="landing1_text  text-center">
    <h1>快速搜尋您附近的私人教練，開始訓練課程</h1>
    <h3>全台超過兩百位私人教練，量身定制專屬課程。</h3>
    <br>
    <div class="container">
      <%= render 'share/searchform' %>
    </div>
    <div class="">
      找不到您需要的嗎?
    </div>
  </div>
</div>
<div class="landing2_pic">
  <div class="landing2_text text-center">
    <div class="container padingtop">
      <div class="col-md-4">
        <%= image_tag("step1.png") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("step2.png") %>
        
      </div>
      <div class="col-md-4">
        <%= image_tag("step3.png") %>
        
      </div>

    </div>
  </div>
</div>
<div class="landing3_pic">
  <div class="landing3_text text-right padingtop">
    <div class="container">
      <h1>是的<br>
          我們的教練絕非<br>
          浪得虛名</h1>
      <p>我們也開放線上開課成為教練<br>
          要成為FIT123的私人教練<br>
          除了教練本身的經驗相當豐富之外<br>
          還有三大審核關卡<br>
          包含兩種線上驗證<br>
          以及一種人工驗證<br>
          <br>
          您可以放心的選擇課程</p>
      
    </div>
  </div>
</div>
<div class="landing4_pic">
  <div class="landing4_text text-left padingtop">
     <div class="container">
           <h1>誰不喜歡<br>
              寬敞、安全、設備齊全的<br>
              訓練環境</h1>
           <p>全省各地，<br>
            我們將登錄每個合格訓練場地<br>
            讓我們每個教練與學員<br>
            都可以得到高品質訓練過程<br>
            <br>
            透過註冊，您也可以成為場地提供者<br>
            為您的事業帶來額外效益。</p>
    </div>
  </div>
</div>
<div class="landing5_pic">
  <div class="landing5_text text-left">
     <div class="container coach-pading">
          <div class="col-md-4">
            <%= image_tag("coach.png") %>
          </div>
          <div class="col-md-8">
            <h1>主要創辦人 威力</h1>
            <p>目前是假字，看太多其他健身房的教練，把忙碌當成自己瘦弱與油膩的藉口，如果連自己都沒辦法完善安排訓練時間，怎麼去要求學員再忙也要訓練？如果連自己最了解的身體都練不好，怎麼去引領學生達成目標？健美，是一種身體的雕刻藝術，跟傳統競技運動完全不一樣，健美起源來自古希臘，最初只由男性參加，以男子的粗壯的脖子、發達的胸肌、粗壯的雙腿為美的指標。</p>
          </div>

    </div>
  </div>
</div>
<div class="welcome">
  <div class="welcometxt jumbotron text-center">
    <p>隨時掌握網站最新消息，歡迎加入 coaches</p>
    <%= form_for @preuser, :url => { :controller => 'coaches', :action => 'subscribe_us' } do |p| %>
    <%= p.text_field :preuser_email, placeholder: '歡迎訂閱我們活動，以掌握最新開課訊息', type:'email', class:'preusremail' %>
    <%= p.submit '訂閱' , :class => "preuser_btn", onclick:"subscribe_success()" %>
    <% end %>
  </div>
</div>

<script>
function subscribe_success() {
    alert("您已成功訂閱我們的開課資訊，謝謝您！");
}
</script>